text {
  font-size: 1.4em;
	color: #cacaca;
}
p {
	color: #cacaca;
}
.slice:hover {
  opacity: 0.5;
}

.content {
  display: flex;
}

.side-bar {
  width: 200px;
}

.graph-wrapper header {
  text-align: center;
}
.graph-wrapper {
  margin: 0 auto;
}

.graph {
  flex-wrap: wrap;
  max-width: 80vw;
  overflow-y: auto;
}

svg {
  transition: all 300ms ease;
  margin: 10px;
}

.round .background {
  fill: #e6e7e8;
}

.circle:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.round text.win-percentage {
  font-family: Graphik;
  font-size: 28px;
  letter-spacing: -0.03em;
}
.round text.description {
  font-family: Graphik;
  font-size: 12px;
  fill: #cacaca;
}

.round text.faction-title {
  font-family: Graphik;
  font-size: 16px;
  fill: grey;
}
.mc-faction:hover {
  cursor: pointer;
}

.wr-faction:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  background-color: black;
  height: 60px;
  color: rgb(208, 208, 208);
  margin-bottom: 20px;
}

.nav-bttn {
	display: flex;
	height: inherit;
	align-items: center;
	padding: 0 12px;
  margin: 0 8px;
}

.nav-bttn:hover {
	background-color: #03DAC6;
	color: white;
}

.logo {
  font-size: 28px;
	margin-left: 0;
	cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

body {
	background-color: #121212;
}