text {
  font-size: 1.4em;
  color: #cacaca;
}
p {
  color: #cacaca;
}
.slice:hover {
  opacity: 0.5;
}

.content {
  display: flex;
}

.side-bar {
  width: 200px;
}

.graph-wrapper header {
  text-align: center;
}
.graph-wrapper {
  margin: 0 auto;
  margin-top: 36px;
}

.graph {
  flex-wrap: wrap;
  overflow-y: auto;
}

svg {
  transition: all 300ms ease;
  margin: 10px;
}

.round .background {
  fill: #e6e7e8;
}

.circle:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.round text.win-percentage {
  font-family: Graphik;
  font-size: 20px;
  letter-spacing: -0.03em;
}
.round text.description {
  font-family: Graphik;
  font-size: 12px;
  fill: #ffffffad;
}

.round text.faction-title {
  font-family: Graphik;
  font-size: 16px;
  fill: #bb86fc;
}

.main-instruction {
  color: #03dac6;
}

.mc-faction:hover {
  cursor: pointer;
}

.wr-faction:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  background-color: black;
  height: 60px;
  color: rgb(208, 208, 208);
  margin-bottom: 20px;
  justify-content: space-between;
}

.nav-bttn {
  display: flex;
  height: inherit;
	width: 150px;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
	text-align: center;
	font-size: 16px;
}

.nav-bttn-border {
	position: absolute;
	top: 0;
	height: 57px;
	width: inherit;
	border-bottom: 2px solid rgb(208, 208, 208);
}

.nav-bttn-border:hover {
	border-bottom: 2px solid black;
}

.nav-bttn:hover {
  background-color: #03dac6;
  color: black;
  transform: scale(1.02);
  cursor: pointer;
}

.logo {
  font-size: 28px;
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  margin: 0 8px;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #121212;
}

.header-text {
  font-size: 30px;
  margin-bottom: 24px;
}
.sunburst {
  transition: all 500ms ease-in-out;
}
.visible {
  display: none;
  transform: scale(1.5);
}

.left-nav {
  display: flex;
  height: inherit;
}

.right-nav {
  height: inherit;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  display: flex;
  margin-right: 24px;
}

.parent:hover {
  cursor: pointer;
  opacity: 0.5;
}

.greeting {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #ffffff;
  border-radius: 24px;
  margin: auto;
  margin-top: 15vh;
  padding: 32px;
  justify-content: center;
  animation: expand 700ms ease-in-out forwards;
  width: 900px;
  height: 500px;
}

.greeting-text-wrapper {
  margin-top: 14px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting-header {
  font-size: 26px;
  color: hsla(0, 0%, 100%, 0.8);
  margin-bottom: inherit;
  text-align: center;
}

.greeting-text {
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-text > a {
  text-decoration: none;
  color: #bb86fc;
  align-self: center;
}

.instruction-header {
  font-size: 24px;
  color: hsla(0, 0%, 100%, 0.8);
}
.greeting-instructions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.greeting-instructions-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8px;
}
.graph-wrapper {
  max-width: 1020px;
}

.sunburst {
  animation: spin 1000ms ease-in-out;
}

.logo-40k {
  width: 400px;
  align-self: center;
}

#text {
  font-size: 14px;
}

li {
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 2px;
}

.li-header {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 18px;
}

@keyframes expand {
  0% {
    height: 0;
    opacity: 0;
    font-size: 0;
  }
}

@keyframes spin {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: scale(1) rotate(-360deg);
  }
}

footer {
  font-size: 12px;
  margin-top: 40px;
  color: hsla(0, 0%, 100%, 0.4);
}

.fab {
  color: white;
}
