text {
  font-size: 1.4em;
  color: #cacaca;
}
p {
  color: #cacaca;
}
.slice:hover {
  opacity: 0.5;
}

.content {
  display: flex;
}

.side-bar {
  width: 200px;
}

.graph-wrapper header {
  text-align: center;
}
.graph-wrapper {
  margin: 0 auto;
}

.graph {
  flex-wrap: wrap;
  max-width: 80vw;
  overflow-y: auto;
}

svg {
  transition: all 300ms ease;
  margin: 10px;
}

.round .background {
  fill: #e6e7e8;
}

.circle:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.round text.win-percentage {
  font-family: Graphik;
  font-size: 20px;
  letter-spacing: -0.03em;
}
.round text.description {
  font-family: Graphik;
  font-size: 12px;
  fill: #ffffffad;
}

.round text.faction-title {
  font-family: Graphik;
  font-size: 16px;
  fill: #BB86FC;
}
.mc-faction:hover {
  cursor: pointer;
}

.wr-faction:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  background-color: black;
  height: 60px;
  color: rgb(208, 208, 208);
  margin-bottom: 20px;
  justify-content: space-between;
}

.nav-bttn {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  margin: 0 8px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.nav-bttn:hover {
  background-color: #03dac6;
  color: black;
  transform: scale(1.02);
  cursor: pointer;
}

.logo {
  font-size: 28px;
  margin-left: 0;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #121212;
}

.header-text {
  font-size: 30px;
  margin-bottom: 24px;
}
.sunburst {
  transition: all 500ms ease-in-out;
}
.visible {
  display: none;
  transform: scale(1.5);
}

.left-nav {
  display: flex;
  height: inherit;
}

.right-nav {
  height: inherit;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.parent:hover {
  cursor: pointer;
  opacity: 0.5;
}

.greeting {
	display: flex;
	flex-direction: column;
  width: 60vw;
  height: 20vw;
  background-color: black;
  color: #ffffff;
  border-radius: 24px;
  margin: auto;
  animation: expand 1s ease-in-out forwards;
	margin-top: 15vh;
	padding: 32px;
}

.greeting-text {
	margin-top: 16px;
}

.graph-wrapper {
  max-width: 1020px;
}

@keyframes expand {
  0% {
		height: 0;
    opacity: 0;
		font-size: 0;
  }
}

@keyframes spin {
	0% {
		opacity: 0;
		transform: scale(.5)
	}
  100% {
    -webkit-transform: rotate(-360deg);
    transform: scale(1) rotate(-360deg);
  }
}

.sunburst {
  animation: spin 1000ms ease-in-out;
}

.logo-40k {
	width: 400px;
	align-self: center;
}
