rect {
	fill: #003d26
}
body {
	margin: 0 32px;
}
text {
	font-size: 1.4em;
}

.slice:hover {
	opacity: .50;
}

.content {
	display: flex;

}

.side-bar {
	width: 20vw;
}

header {
	margin-left: 60px;
}